body {  
  display: flex;  
  flex-direction: column;  
  min-height: 100vh;
  padding: 0;
  margin: 0
}
main{ 
   flex-grow: 1;
  }

.box-shadow{
  margin-top: 3em;
  padding-top: 1em;
  background-color: black;
  box-shadow: .5px .5px 3px whitesmoke;
  height: 65vh;
  
}
.btn{
  cursor: pointer;
  width: max-content;
  
}
.btnPic{
  cursor: pointer
}
.btn:disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}